.icon-small{
    display: block;
}

body{
    background-color: #2D2C59;
    height: fit-content;
}

.content{
    height: fit-content;
    background-color:  #313144;
    overflow: hidden;
}

.legendary{
    border-bottom: 6px solid rgb(255, 187, 0);
}

.mythic{
    border-bottom: 6px solid rgb(172, 86, 206);
}

.rare{
    border-bottom: 6px solid rgb(0, 102, 255);
}

.uncommon{
    border-bottom: 6px solid rgb(87, 129, 89);
}

.common{
    border-bottom: 6px solid rgb(128, 128, 128);
}

.container{

}

.content-head{
    display: grid;
    grid-template-columns: 300px 1fr;
    background-image:linear-gradient(to bottom, #313144, transparent);
    min-height: 400px;
}
    .gradient-end::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 200px;
        bottom: 0%;
        background-image: linear-gradient(to top, #313144, transparent);
        
    }

    .content-head .text-part h2{
        line-height: 80%;
        padding-top: 30px;
    }

.content-nav{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-inline: 50px;
    background-color: #171b42e3;
}

    .content-nav li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .content-nav li a {
        padding: 20px;
        color: rgb(227, 227, 248);

        height: 100%;
        width: 100%;
        min-width: 50px;

        text-shadow: 2px 0px 10px #000000;
        text-align: center;
    }
    .content-nav li a:hover {
        background-color: #202553;
        transition: background-color 600ms;
        border-radius: .4vw;

    }


.item-slot{
    background-color: #2c2c3f;
    border-radius: 8px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    align-items: center;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
}

    .item-slot .amount{
        position: absolute;
        bottom: 0;
        right: 5%;
    }
    .item-slot img{
        max-width: 100%;
        max-height: 100%;
    }

.item-slot-small{
    max-width: 50px;
    max-height: 50px;
}
.item-slot-medium{
    max-width: 125px;
    max-height: 125px;

}


.item-slot-big{
    max-width: 250px;
    max-height: 250px;
}


.skills{
    background-color: #2D2C59;
    color: white;
}


.materials{
    background-color: #2D2C59;
}

    .cards{
        display: grid;
        min-height: 0;
        min-width: 0;
    }
    
        .card{      
            border-radius: 1vw;
            background-color: #3c4674;
            min-height: 0;
            min-width: 0;
        }

    .boss-upgrade{
        display: grid;
        grid-template-columns: 55% 1fr 1fr;
    }

    .single-item{
        padding:2em;
        height: 100%;
    }
    
.section-title{
    background-color: #2c2c3f;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    font-size: 3.4em;
}


.passives{
    background-color: #2D2C59;
}

    .skill-container{
        display: grid;
        grid-template-columns: 120px 1fr;
        border-radius: 8px;
        width: 100%;
    }
  

.constellation{
    background-color: #2D2C59;
}

.weapons{
    background-color: #2D2C59;
}

    .stats{
        width: 100%;
        background-color: #202553;
    }
    .best{
    }
    .weapons-card{
    }

.artifacts{
    background-color: #2D2C59;
}

.priority{
    padding-left: 2em;
}
        .priority li{
            list-style-type: decimal;
            text-align: left;
        }

.teams{
    background-color: #2D2C59;
}
    .member{
        margin: 1em;
    }
        .team-member{
            background-color: #313144;
            border-radius: 20px;
            overflow: hidden;
            object-fit: cover;
        }

        .team-member img{
            max-height: 500px;
        }

.showcase{
    background-color: #2D2C59;
}

.top-button{
    padding: .2em;
    font-size: 40px;
    color: white;
    background-color: #2c2c3f;
    border-radius: 2vw;

}

.top-button:hover{
    cursor: pointer;

}

.top-button:hover::before{
    content: 'To the top';
    position: absolute;
    bottom: 110%;
    background-color: #202553;
    font-size: 20px;
    right: 20px;
    width: 110px;
    padding: .2em;
    border-radius: 1vw;
    border: 2px solid white;
    text-align: right;
}