.icon-small{
    display: block;
}

body{
    background-color: #2D2C59;
    height: fit-content;
}
.content{
    height: 2000px;
    background-color: #31313138;
    overflow: hidden;
}

.container{

}
.content-head{
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: #313144;
}
    .content-head .text-part h2{
        line-height: 80%;
        padding-top: 30px;
    }